.git
.gitattributes
.gitignore
.idea
.vscode
.fleet
.zed
.nova
.netlify
.phpunit.cache
.phpunit.result.cache
.phpactor.json
auth.json
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/pail
public/hot
public/storage
.env
.env.*
!.env.example
!.env.docker
Homestead.json
Homestead.yaml
Thumbs.db
*.log
composer.phar
tests
canvases
agent-transcripts
README.md
DOCKER.md
